<div class="row first-row-space">
  <!-- action toolbar -->
  <div class="col">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-link" ng-click="returnToChart()">
          <img src="assets/open-iconic/svg/arrow-left.svg" alt="delete" class="std-icon"> Return to Patient's Chart
        </button>

      </div>
    </div>
  </div>
</div>

<div class="row row-space-bottom">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="form-row">
          <div class="col-md-3">
            <label for="facilityName">Facility Name</label>
            <input id="facilityName" type="text" class="form-control form-control-sm" ng-model="form.preamble.facilityName" readonly>
          </div>
          <div class="col-md-2">
            <label for="visitDate">Date of Visit</label>
            <input id="visitDate" type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ng-model="form.preamble.visitDate">
          </div>
        </div>
        <div class="form-row">
          <div class="col-md-8">
            <label for="patientName">Patient</label>
            <input id="patientName" type="text" class="form-control form-control-sm" ng-model="form.preamble.patientName" readonly>
          </div>
          <div class="col-md-4">
            <label for="patientName">SSN</label>
            <input id="patientName" type="text" class="form-control form-control-sm" ng-model="form.preamble.patientSsn" readonly>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row row-space-bottom">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="form-row">
          <div class="col-md">
            <label for="subjective">Subjective</label>
            <textarea id="subjective" class="form-control" rows="7" ng-model="form.subjective"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md">
            <label for="objective">Objective</label>
            <textarea id="objective" class="form-control" rows="7" ng-model="form.objective"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md">
            <label for="assessment">Assessment</label>
            <textarea id="assessment" class="form-control" rows="7" ng-model="form.assessment"></textarea>
          </div>
        </div>
        <div class="form-row">
          <div class="col-md">
            <label for="plan">Plan</label>
            <textarea id="plan" class="form-control" rows="7" ng-model="form.plan"></textarea>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-body">

        <div class="form-row" style="margin-bottom: 10px;">
          <div class="col-md-8">
            <label for="">Pharmacist</label>
            <input id="pharmacistName" type="text" class="form-control form-control-sm" ng-model="form.suffix.pharmacistName">
          </div>
          <div class="col-md-2">
            <label for="timeSpent">Time Spent</label>
            <input id="timeSpent" type="text" class="form-control form-control-sm" placeholder="ex: 45 minutes" ng-model="form.suffix.timeSpent">
          </div>
          <div class="col-md-2">
            <label for="signatureDate">Date</label>
            <input id="signatureDate" type="text" class="form-control form-control-sm" placeholder="dd/mm/yyyy" ng-model="form.suffix.signatureDate">
          </div>
        </div>
        <button type="button" class="btn btn-primary btn-sm btn-block" ng-disabled="!form.preamble.visitDate.length" ng-click="saveForm()">Save Note</button>

      </div>
    </div>
  </div>
</div>
