<div class="row row-space-bottom">
  <!-- app action bar -->
  <div class="col">
    <button type="button" class="btn btn-sm btn-primary" ng-click="createPatient()">New Patient</button>
    <button type="button" class="btn btn-sm btn-primary" ng-click="createFacility()">Add Facility</button>
  </div>
</div>

<div class="row row-space-bottom">
  <!-- Patients View -->
  <div class="col">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Recent Patients</h5>
        <div class="row">
          <div class="col-md">
            <table class="table table-sm table-hover" style="margin-top: 10px;">
              <thead>
                <tr>
                  <th scope="col">MRN</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Facility</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="patient in patients">
                  <td>{{ patient.identity.mrn }}</td>
                  <td>{{ patient.generalInfo.lastname }}, {{ patient.generalInfo.firstname }}</td>
                  <td>{{ patient.facility }}</td>
                  <td>
                    <img src="assets/open-iconic/svg/magnifying-glass.svg" alt="inspect" class="std-icon" style="margin-right: 10px;">
                    <img src="assets/open-iconic/svg/delete.svg" alt="delete" class="std-icon" ng-click="deletePatient(patient._id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end patients view -->
</div>
<div class="row">
  <!-- for when we have no facilities -->
  <div class="col text-center" ng-show="!facilities.length">
    no facilities found
  </div>
  <!-- Facilities View -->
  <div class="col-3" ng-repeat="facility in facilities">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ facility.name }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{ facility.type }}</h6>
        <p class="card-text">
          {{ facility.address }}<br>
          {{ facility.city}}, {{ facility.state }} {{ facility.zipcode }}
        </p>
        <a href="#!/facility/{{ facility._id }}" class="card-link">View Facility</a>
      </div>
    </div>
  </div>
  <!-- end facilities view -->
</div>
