<div class="row justify-content-center justify-content-md-center mt-2 mb-1">
  <!-- action toolbar -->
  <div class="col-12 col-md-12 col-xl-10">
    <div class="btn-toolbar">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-secondary" ng-click="createPatient()">Admit Patient</button>
        <button type="button" class="btn btn-secondary" ng-click="createFacility()">Add Facility</button>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center justify-content-md-center mb-3">
  <!-- Patients View -->
  <div class="col-12 col-md-12 col-xl-10">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">Recent Patients</h5>
        <div class="row">
          <div class="col-12 col-md-12 col-xl-12 table-responsive-sm">
            <table class="table table-sm table-hover" style="margin-top: 10px;">
              <thead class="thead-light">
                <tr>
                  <th scope="col">MRN</th>
                  <th scope="col">Patient Name</th>
                  <th scope="col">Facility</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="patient in patients">
                  <td ng-click="viewChart(patient._id)">{{ patient.identity.mrn }}</td>
                  <td ng-click="viewChart(patient._id)">{{ patient.generalInfo.lastname }}, {{ patient.generalInfo.firstname }}</td>
                  <td ng-click="viewChart(patient._id)">{{ patient.facility.name }}</td>
                  <td>
                    <img src="assets/open-iconic/svg/wrench.svg" alt="edit" class="std-icon mr-3" ng-click="editPatient(patient._id)">
                    <img src="assets/open-iconic/svg/delete.svg" alt="delete" class="std-icon" ng-click="deletePatient(patient._id)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- end patients view -->
</div>

<div class="row justify-content-center justify-content-md-center">
  <!-- for when we have NO facilities -->
  <div class="col-12 col-md-12 col-xl-10 text-center" ng-show="!facilities.length">
    no facilities found
  </div>
  <!-- Facilities View -->
  <div class="col-12 col-md-12 col-xl-10"> <!-- let's make the width of the content the same as above -->
    <div class="row justify-content-start justify-content-md-start"> <!-- treat this section as a new row -->
      <div class="col-6 col-md-4 col-xl-3 mb-2" ng-repeat="facility in facilities"> <!-- spec for each card -->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ facility.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ facility.type }}</h6>
            <p class="card-text">
              {{ facility.address }}<br>
              {{ facility.city}}, {{ facility.state }} {{ facility.zipcode }}
            </p>
            <a href="#!/facility/{{ facility._id }}" class="card-link">View Facility</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end facilities view -->
</div>
