<div class="row justify-content-center justify-content-md-center">
  <div class="col-12 col-md-12 col-xl-10">
    <h1 class="page-title">
      {{ patient.name }} ({{ patient.mrn }})
    </h1>
  </div>
</div>

<div class="row justify-content-center justify-content-md-center mb-2">
  <!-- action toolbar -->
  <div class="col-12 col-md-12 col-xl-10">
    <div class="btn-toolbar justify-content-between">
      <div class="btn-group btn-group-sm">
        <button type="button" class="btn btn-secondary" ng-click="returnToDashboard()">Back to Dashboard</button>
        <button type="button" class="btn btn-secondary" ng-click="editPatient()">Edit Patient</button>
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
          New Chart Document
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#!/chart/{{ patient.id }}/map">Medication Action Plan</a>
          <a class="dropdown-item" href="#!/chart/{{ patient.id }}/med">Medication List</a>
          <a class="dropdown-item" href="#!/chart/{{ patient.id }}/soap">SOAP Note</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center justify-content-md-center mb-3">
  <div class="col-12 col-md-12 col-xl-10"> <!-- fixed width forms container -->
    <!-- without forms -->
    <div class="text-center" ng-show="formCollection.length == 0">there are no forms for this patient</div>
    <!-- with forms -->
    <div class="row justify-content-start justify-content-md-start" ng-show="formCollection.length > 0">
      <!-- associated forms -->
      <div class="col-6 col-md-4 col-xl-3 mb-2" ng-repeat="form in formCollection">
        <div class="card">
          <div class="card-body">

            <h5 class="card-title">{{ form.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ form.preamble.visitDate }}</h6>
            <p class="card-text">
              <small>modified on {{ form.lastModified }}</small>
            </p>
            <a href="#!/chart/{{ form.preamble.patient }}/{{ form.routeName }}/{{ form._id }}" class="card-link">View Document</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center justify-content-md-center mb-3">
  <div class="col-12 col-md-12 col-xl-10">
    <div class="card">
      <div class="card-body">

        <h5 class="card-title">History</h5>
        blah, blah
      </div>
    </div>
  </div>
</div>

<div class="row justify-content-center justify-content-md-center">
  <div class="col-12 col-md-12 col-xl-10">
    <div class="card">
      <div class="card-body">
        <button type="button" class="btn btn-sm btn-outline-danger btn-sm btn-block">delete patient</button>
      </div>
    </div>
  </div>
</div>
